extends layout

block link

block content
    .jumbotron
        .container-fluid
            .caption-full
                if(currentUser && currentUser.role == "author")
                    form.pull-right(style="display: inline"
                    action="/blogposts/#{data.blogpost._id}?_method=DELETE"
                    method="POST")
                        button.btn.btn-lg.btn-danger(style="margin-right: 10px")    DELETE POST
                        a.btn.btn-lg.btn-warning(href="/blogposts/#{data.blogpost._id}/edit") EDIT POST
                h1  #{data.blogpost.title}
                div
                    span By:
                        strong.author #{data.blogpost.author.username}
                        if data.blogpost.category && data.blogpost.category.name
                            span in
                                span.category #{data.blogpost.category.name}
                div
                    span Date posted:
                        strong #{moment(data.blogpost.postedOn).format('DD.MM.YYYY')}
                .row
                    .col-sm-9
                        .container
                            hr
                            p   !{data.blogpost.content}
                    .col-sm-3
                        h2 Categories
                        .list-group
                            each category in data.counts
                                a.list-group-item(href="/blogposts/cat/#{category._id}") #{category.name}
                                    span.badge #{category.count}

                #disqus_thread

block scripts
    script(src="/javascripts/controllers/blogposts/disqus.js")
    script(src="/javascripts/controllers/blogposts/show.js")
