extends layout

block content
    .jumbotron
        .container
            .row
                .col-sm-9
                    .caption-full
                        if(currentUser && currentUser.role == "author")
                            form.pull-right(style="display: inline"
                            action="/blogposts/#{blogpost._id}?_method=DELETE"
                            method="POST")
                                button.btn.btn-lg.btn-danger(style="margin-right: 10px")    DELETE POST
                                a.btn.btn-lg.btn-warning(href="/blogposts/#{blogpost._id}/edit") EDIT POST
                        h1  #{blogpost.title}
                        div
                            em   Submitted By
                                strong  #{blogpost.author.username}
                            .comment-count.pull-right
                                a(href="#{blogpost._id}#disqus_thread") Comments
                    .container
                         !{blogpost.content}

                    #disqus_thread
                    script.
                        var disqus_config = function () {
                            this.page.url = "https://" + location.host;
                            this.page.identifier = "#{blogpost._id}";
                        };
                        (function () {
                            var d = document, s = d.createElement('script');
                            s.src = '//webplatform-2.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    script(id="dsq-count-scr" src="//webplatform-2.disqus.com/count.js")    async
