extends layout

block content
    .jumbotron
        .container
            .row
                //.col-sm-3
                //    p.lead  Blog
                //    .list-group
                //        li.list-group-item.active   Info 1
                //        li.list-group-item  Info 2
                //        li.list-group-item  Info 3
                .col-sm-9
                    .caption-full
                        if(currentUser && currentUser.role == "author")
                            form.pull-right(style="display: inline"
                            action="/blogposts/#{blogpost._id}?_method=DELETE"
                            method="POST")
                                button.btn.btn-lg.btn-danger(style="margin-right: 10px")    DELETE POST
                                a.btn.btn-lg.btn-warning(href="/blogposts/#{blogpost._id}/edit") EDIT POST
                        h1  #{blogpost.title}
                        p
                            em   Submitted By
                                strong  #{blogpost.author.username}
                    .container
                         !{blogpost.content}

                    .well
                        .text-center
                            a.btn.btn-success(href="/blogposts/#{blogpost._id}/comments/new") Add New Comment
                        hr
                        each comment in blogpost.comments
                            .row
                                .col-md-12
                                    blockquote
                                        p #{comment.text}
                                        footer
                                            span   #{comment.author.username}
                                                span    : #{moment(comment.created_on).format('DD.MM.YYYY hh:mm')}
                                                    if (currentUser && (comment.author.id == currentUser._id || currentUser.role == "author") )
                                                        form(style="display: inline"
                                                        action="/blogposts/#{blogpost._id}/comments/#{comment._id}?_method=DELETE"
                                                        method="POST")
                                                            button.btn.btn-xs.btn-danger(style="margin: 0px 10px")    DELETE
                                                            a.btn.btn-xs.btn-warning(href="/blogposts/#{blogpost._id}/comments/#{comment._id}/edit") EDIT


