extends layout

block content
    .jumbotron
        .container
            .row
                .col-sm-3
                    p.lead  Services
                    .list-group
                        li.list-group-item.active   Price
                        li.list-group-item  Make an appointment
                .col-sm-9
                    .thumbnail
                        .caption-full
                            if(currentUser && currentUser.role == "author")
                                form.pull-right(style="display: inline",
                                                action="/services/#{service._id}?_method=DELETE",
                                                method="POST")
                                    button.btn.btn-lg.btn-danger(style="margin-right: 10px")    DELETE POST
                                    a.btn.btn-lg.btn-warning(href="/services/#{service._id}/edit") EDIT POST
                            h1  #{service.title}
                        .container
                            !{service.content}

